#container
{
	margin: 0 30px;
	background: #61908E;
}

#header
{
	background: #04BDBF;
	padding: 20px;
float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 2px 1px 6px #0083BE;
	box-shadow: 2px 5px 6px #00BBA2;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83
}


#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #0083BE;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #0083BE;
	text-decoration: none;
	border-right: 1px solid #0083BE;
}

#navigation li a:hover { background: #00F8C9; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 2px 1px 6px #0083BE;
	box-shadow: 2px 5px 6px #00BBA2;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #00F8C9);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	background-color:#5ED0D6 ;
}

#edito h2
{
	color: #0083BE;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 2px 1px 6px #0083BE;
	box-shadow: 2px 5px 6px #00BBA2;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
background-color:#5ED0D6 ;
}

#footer
{
	clear: both;
	background: #04BDBF;
	text-align: right;
	padding: 20px;
	height: 1%;
}
